.Card__isFlipped___3a9Of {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.Card__cardWrapper___7dyPx {
    font-family: 'Lucida Console', Monaco, monospace;
    height: calc(14.5rem * 0.85);
    width: calc(22.5rem * 0.85);
    -webkit-perspective: 37.5rem;
            perspective: 37.5rem;
    margin-bottom: calc(8rem * -1)
}

@media (min-width: 768px) {

.Card__cardWrapper___7dyPx {
        height: 14.5rem;
        width: 22.5rem
}
    }

.Card__card___1isHQ {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.Card__cardFace___1dwRF {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.5rem 2rem 0.5rem rgba(47, 54, 64, 0.2);
            box-shadow: 0 0.5rem 2rem 0.5rem rgba(47, 54, 64, 0.2);
    background-color: #4834d4;
    color: #dfe6e9;
}

/* Card Front */

.Card__cardFront___1eDpE {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
}

.Card__cardFrontTop___2g0Tl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
}

.Card__cardFrontTop___2g0Tl > img {
        width: 2rem;
        margin-left: 0.5rem
    }

@media (min-width: 768px) {

.Card__cardFrontTop___2g0Tl > img {
            width: 3rem
    }
        }

.Card__cardFrontTop___2g0Tl > svg {
        width: 3rem;
        -ms-flex-item-align: end;
            align-self: flex-end;
        fill: #dfe6e9;
        margin-bottom: 1rem
    }

@media (min-width: 768px) {

.Card__cardFrontTop___2g0Tl > svg {
            width: 5rem;
            margin-bottom: 0.5rem
    }
        }

.Card__cardFrontNumber___8VfFQ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0.5rem;
    font-size: 1.25rem
}

@media (min-width: 768px) {

.Card__cardFrontNumber___8VfFQ {
        font-size: 1.5rem
}
    }

.Card__cardFrontBottom___jlzjA {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.75rem
}

@media (min-width: 768px) {

.Card__cardFrontBottom___jlzjA {
        font-size: 1rem
}
    }

.Card__cardFrontBottom___jlzjA .Card__title___o7-3H {
        color: #b2bec3;
        font-size: 0.5rem;
        margin-bottom: 0.25rem
    }

@media (min-width: 768px) {

.Card__cardFrontBottom___jlzjA .Card__title___o7-3H {
            font-size: 0.75rem
    }
        }

/* Card Back */

.Card__cardBack___39GtY {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    padding: 1.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.Card__cardBackStrip___t3DSP {
    height: 3rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
}

.Card__cardBackCvv___1Lm-r {
    text-align: right;
    margin: 0 1rem
}

.Card__cardBackCvv___1Lm-r .Card__title___o7-3H {
        color: #b2bec3;
        font-size: 0.75rem;
        margin: 0 0.25rem 0.25rem 0;
    }

.Card__cardBackSignature___325Az {
    background-color: #dfe6e9;
    color: #636e72;
    padding: 0.5rem;
    height: 2rem;
}

.Form__form___3_cTy {
    background-color: white;
    padding: 11rem 2rem 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.5rem 2rem 0.5rem rgba(47, 54, 64, 0.2);
            box-shadow: 0 0.5rem 2rem 0.5rem rgba(47, 54, 64, 0.2);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem
}

@media (min-width: 768px) {

.Form__form___3_cTy {
        width: 40rem
}
    }

.Form__form___3_cTy select {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background-image:
            linear-gradient(45deg, transparent 50%, #636e72 50%),
            linear-gradient(135deg, #636e72 50%, transparent 50%);
        background-position: calc(100% - 0.75rem), calc(100% - 0.5rem);
        background-size: 0.25rem 0.25rem, 0.25rem 0.25rem;
        background-repeat: no-repeat;
    }

.Form__form___3_cTy button {
        background-color: #4834d4;
        color: #dfe6e9;
        border: none;
        cursor: pointer;
        -webkit-box-shadow: 0 0.125rem 1rem 0.0625rem rgba(47, 54, 64, 0.2);
                box-shadow: 0 0.125rem 1rem 0.0625rem rgba(47, 54, 64, 0.2)
    }

.Form__form___3_cTy button:focus {
            outline: none;
        }

.Form__form___3_cTy label,
    .Form__form___3_cTy input,
    .Form__form___3_cTy select {
        color: #2d3436;
        margin-bottom: 0.5rem;
    }

.Form__form___3_cTy input,
    .Form__form___3_cTy select,
    .Form__form___3_cTy button {
        padding: 0.75rem;
        border-radius: 0.5rem;
        font-size: 1rem
    }

@media (min-width: 768px) {

.Form__form___3_cTy input,
    .Form__form___3_cTy select,
    .Form__form___3_cTy button {
            font-size: 1.25rem
    }
        }

.Form__form___3_cTy input,
    .Form__form___3_cTy select {
        background-color: white;
        border: 0.0625rem solid #b2bec3;
        margin-bottom: 1rem;
        -webkit-transition: border 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
        transition: border 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
        transition: border 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
        transition: border 0.25s ease-in-out, box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out
    }

.Form__form___3_cTy input:focus, .Form__form___3_cTy select:focus {
            -webkit-box-shadow: 0 0.125rem 1rem 0.0625rem rgba(47, 54, 64, 0.2);
                    box-shadow: 0 0.125rem 1rem 0.0625rem rgba(47, 54, 64, 0.2);
        }

.Form__form___3_cTy input:focus,
        .Form__form___3_cTy input:hover,
        .Form__form___3_cTy select:focus,
        .Form__form___3_cTy select:hover {
            outline: 0;
            border: 0.0625rem solid #4834d4;
        }

.Form__formBottom___2Oi-h {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
    grid-column-gap: 2rem;
    margin-bottom: 1rem
}

@media (min-width: 768px) {

.Form__formBottom___2Oi-h {
        -ms-grid-columns: minmax(0, 2fr) minmax(0, 1fr);
        grid-template-columns: minmax(0, 2fr) minmax(0, 1fr)
}
    }

.Form__formExpiration___Aw7_b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.Form__formExpirationSelect___3nr9H {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[2];
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 1rem
}

@media (min-width: 768px) {

.Form__formExpirationSelect___3nr9H {
        grid-column-gap: 2rem
}
    }

.Form__formCardCvv___110Ye {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.GHButton__button___21KsN {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
}

.GHButton__link___2eCqY {
    background-color: #000;
    color: #dfe6e9;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    font-family: 'Lucida Console', Monaco, monospace;
    -webkit-transition: -webkit-box-shadow 0.25s;
    transition: -webkit-box-shadow 0.25s;
    transition: box-shadow 0.25s;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
    text-decoration: none;
    border: none;
    width: 100%;
    text-align: center
}

.GHButton__link___2eCqY:hover,
    .GHButton__link___2eCqY:focus,
    .GHButton__link___2eCqY:active {
        outline: 0;
        -webkit-box-shadow: 0 0.5rem 2rem 0.5rem rgba(47, 54, 64, 0.2);
                box-shadow: 0 0.5rem 2rem 0.5rem rgba(47, 54, 64, 0.2);
    }

@media (min-width: 768px) {

.GHButton__link___2eCqY {
        width: auto
}
    }

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #eceafa;
    font-family: -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.App__container___1ZDeV {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 5rem 2rem
}

@media (min-width: 768px) {

.App__container___1ZDeV {
        padding: 5rem 3rem
}
    }

